:root {
    /* Color palette – soft, girly, but readable */
    --primary-color: #f4a7c1;
    /* soft rose pink */
    --secondary-color: #c084fc;
    /* lavender purple */
    --accent1-color: #5a2a4f;
    /* deep berry (for contrast) */
    --accent2-color: #fff0f5;
    /* light blush background */

    /* Fonts */
    --heading-font: "Georgia", "Times New Roman", serif;
    --body-font: "Arial", Helvetica, sans-serif;
}


header {
    background-color: var(--primary-color);
    color: var(--accent1-color);
}

body {
    font-family: var(--body-font);
    background-color: var(--accent2-color);
}


 h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


main, header, footer {
    width: 840px;
    margin: 0 auto;
}



nav, p,section,article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
    /* white text – make sure there is enough contrast with the background-color */
}

.hero article img {
    float: right;
    width: 125px;
}

