.callout {
    max-width: 400px;
    margin: 10px;
    border: 1px solid rgb(0 0 0/ 0.1);
    padding: 10px;
    background-color: brown;
    color: #fff;
	
}

.callout img {
    float: right;
    margin: 0 0 10px 15px;
    border: 1px solid #000;
    padding: 3px;
    background-color: azure;
	width: 15 0 px;
    height: auto;
}

blockquote {
    margin: 0;
	
}

cite {
	display: block;
    top-border: 1px dotted #fff;
    text-align: right;
    font-size: smaller;


    

}