nav{
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color:white;
    padding: 10px;
    display: block;
}
h1{
    color: steelblue;
}

main img {
    width: 150px;
    height: auto;
    border:1 px solid solid steelblue;
    padding: 2px;
    box-shadow:0 0 30px grey ;
}

p{
    padding: 0;
}

main{
    max-width: 840px;
}

aside{
    width: 2oem;
    margin: 1em;
    border: 1px solid rgba(red, green, blue, alpha);
    padding: 1em;
    background-color: #eee;
    color: #eee;
    text-align: center;
}

aside img{
    width: 200px;
    height: auto;
}

footer{
    margin-top: 1em;
    border-top: 1px solid #000;
    text-align: center;
}


